.git
.gitignore

.venv
venv

__pycache__
*.py[cod]

.pytest_cache
.ruff_cache
.mypy_cache

.idea
.vscode

.env
.env.*

!.env.example

.DS_Store

postgres_data

*.zip
docker-build.log
docker-runtime.log
current-openapi.json