.git
.github
.gitignore
.gitattributes

.venv
venv

__pycache__
*.py[cod]

.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov

.idea
.vscode

.env
.env.*
!.env.example

.DS_Store

tests

*.zip
docker-build.log
docker-runtime.log
current-openapi.json
